@import '~/assets/styles/variables.sass'

.icon
  position: relative
  width: 1rem
  height: 1rem
  svg
    transition: transform $transition-icon
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%
    object-fit: contain
  &-Drop
    margin-right: 1rem
  &-Hyperlink
    display: inline
    border: 1px solid black
    height: 1.35rem
    width: 20px
    margin-top: -.3rem
    transform: translateY(.3rem)
    margin-right: .5rem
    svg
      height: 1.5rem
      width: 1.3rem
      transform: translateY(-.15rem)

.backgroundImage
  position: fixed
  display: flex
  justify-content: flex-start
  align-items: flex-end
  top: 0
  padding: 2rem
  bottom: 0
  left: 0
  right: 0
  z-index: -1
  &-Container
    position: relative
    width: 60vw
    height: 70vh
    z-index: -1
    img
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      object-fit: contain
      object-position: left bottom
      filter: greyscale(1)
      -webkit-filter: grayscale(1)
      z-index: -1

.cursor
  position: fixed
  width: 1.6rem
  height: 1.6rem
  transform: translate(-50%, -50%)
  border: 2px solid $color
  border-radius: 50%
  z-index: 999
  pointer-events: none
  transition: width $hover-nav, height $hover-nav
  &.active, .active
    width: calc(1.6rem * 2)
    height: calc(1.6rem * 2)

.cursorInteract
  cursor: pointer

.menu
  position: relative
  display: inline-flex
  flex-direction: column
  z-index: 999
  h1, p, a
    position: relative
    display: inline
    line-height: 2.5
    z-index: 999
  &-Container
    border: 1px solid purple
  &-Item
    position: relative
    z-index: 999
    a
      opacity: $opacity-links
      transition: opacity $hover-nav
    &:hover
      a
        opacity: 1
    a.nuxt-link-active
      position: relative
      opacity: 1
      &::after
        content: ""
        position: absolute
        bottom: -.5rem
        left: 0
        width: 100%
        border-bottom: 2px solid black
  &-Landing
    min-width: 22vw

.landing
  h1
    position: relative
    &::after
      content: ""
      position: absolute
      bottom: -.5em
      left: 0
      width: 100%
      border-bottom: 4px solid black

main
  color: $color
  display: flex
  // cursor: none
  .view
    position: relative
    flex-grow: 1
    &-Profiel, &-Werk, &-Blog, &-Contact
      display: flex
      > div
        flex-basis: 50%
        padding-left: 2rem
        padding-right: 2rem
      .view-Content
        > .blok:last-child
          padding-bottom: 100vh // TODO: dynamically distract blok height
    &-Article
      display: flex
      justify-content: center
      align-items: flex-start
      padding-left: 2rem
      padding-right: 2rem
      p, h1, h2, h3, h4, h5
        margin-bottom: 1.5em
        margin-top: 1.5em
      h2, h3, h4
        padding-top: 1.5em
    &-Contact
      padding-top: 3rem

  section
    height: 100vh
    position: relative
    .blok
      padding-top: 3rem
      padding-bottom: 3rem
      &-Title
        position: relative
        margin-bottom: 1.5rem
        &::after
          content: ""
          position: absolute
          bottom: -.5rem
          left: 0
          width: 100%
          border-bottom: 2px solid black
      &-Text
        margin-bottom: 1.5rem
