@import '~/assets/styles/variables.sass'

.cursor
  position: fixed
  width: 1rem
  height: 1rem
  transform: translate(-50%, -50%)
  border: 1px solid $color
  border-radius: 50%
  z-index: 999
  pointer-events: none
  transition: width .12s ease, height .12s ease
  &.active, .active
    width: 2rem
    height: 2rem

.cursorDelayed
  position: fixed
  width: 1rem
  height: 1rem
  transform: translate(-50%, -50%)
  border: 1px solid $color
  border-radius: 50%
  z-index: 999
  pointer-events: none
  transition: width .12s ease, height .12s ease
  &.active, .active
    width: 2rem
    height: 2rem

main
  width: 100vw
  height: 100vh
  color: $color
  display: flex
  cursor: none
  background-image: radial-gradient(90.61% 219.25% at 108.86% 50%, #FFFFFF 0%, #F34988 44.88%, #F22828 73.53%, #C4C4C4 100%)
  section
    min-width: 20vw
    height: 100vh
    border-right: 1px solid white
    padding: 2rem
    padding-top: 2.5rem
    overflow-y: auto
    &:first-child
      border-left: 0
      z-index: 500
    &:nth-child(2)
      z-index: 400
    &:nth-child(n+3)
      z-index: 300
      flex-grow: 1
    .menu-Item
      margin-bottom: .5rem
      h1, p
        display: inline
  // &.backgroundTwo
  //   background: radial-gradient(67.57% 163.51% at 108.86% 50%, #FFFFFF 0%, #F34988 44.88%, #F22828 73.53%, #C4C4C4 100%)
  // &.backgroundThree
  //   background: radial-gradient(48.25% 116.75% at 108.86% 50%, #FFFFFF 0%, #F34988 44.88%, #F22828 73.53%, #C4C4C4 100%)
