@font-face
  font-family: 'Univers Roman'
  src: url('~assets/fonts/Univers-55-Roman.woff2') format('woff2'), url('~assets/fonts/Univers-55-Roman.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Univers Oblique'
  src: url('~assets/fonts/Univers-55-Oblique.woff2') format('woff2'), url('~assets/fonts/Univers-55-Oblique.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Univers Bold'
  src: url('~assets/fonts/Univers-55-Bold.woff2') format('woff2'), url('~assets/fonts/Univers-55-Bold.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: 'Univers Bold Oblique'
  src: url('~assets/fonts/Univers-55-BoldOblique.woff2') format('woff2'), url('~assets/fonts/Univers-55-BoldOblique.woff') format('woff')
  font-weight: normal
  font-style: normal
  font-display: swap

// https://www.madebymike.com.au/writing/fluid-type-calc-examples/
html
  font-size: 14px

@media screen and (min-width: 800px)
  html
    font-size: calc(14px + 2 * ((100vw - 800px) / 1200))

@media screen and (min-width: 2000px)
  html
    font-size: 16px

h1, h2, h3, h4, p, a
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: normal
  hyphens: auto
  // cursor: none
  letter-spacing: 0.03rem

.markdown p // No broken words in regular sized text paragraphs
  word-wrap: normal
  word-break: normal
  overflow-wrap: normal
  hyphens: none

li, h1, h2, h3, h4, p, a, a:link, a:visited, a:hover, a:active, span, input, button
  font-family: 'Univers Roman', Helvetica, Arial, sans-serif
  font-size: 1rem
  line-height: 1.5em
  color: currentColor
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

p
  // font-family: 'FK Grotesk Regular', Helvetica, Arial, sans-serif

a
  color: currentColor
  text-decoration: none

strong
  font-family: 'Univers Bold', Helvetica, Arial, sans-serif
  em
    font-family: 'Univers Bold Oblique', Helvetica, Arial, sans-serif

em
  font-family: 'Univers Oblique', Helvetica, Arial, sans-serif
  strong
    font-family: 'Univers Bold Oblique', Helvetica, Arial, sans-serif

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
