@font-face
  font-family: 'Moderat'
  src: url('~assets/fonts/moderat-regular-webfont.woff2') format('woff2')
  font-weight: normal
  font-style: normal

body
  // https://css-tricks.com/snippets/css/fluid-typography/
  font-size: 14px
  // font-size: calc(17px + (20 - 17) * ((100vw - 700px) / (1400 - 700)))

h1, h2, h3, p, a
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: normal
  hyphens: auto

.markdown p // No broken words in regular sized text paragraphs
  word-wrap: normal
  word-break: normal
  overflow-wrap: normal
  hyphens: none

li, h1, h2, h3, h4, p, a, a:link, a:visited, a:hover, a:active, span, input, button
  font-family: 'Moderat', Helvetica, Arial, sans-serif
  font-size: 1rem
  line-height: 1.5
  color: currentColor
  font-style: normal
  font-weight: normal
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: currentColor
  text-decoration: none

strong
  font-weight: normal

em
  font-style: italic

.ellipsis
  overflow: hidden
  min-width: 0
  text-overflow: ellipsis
  h1, h2, h3, p, a
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis

h4
  font-size: 8px
  vertical-align: text-top
