$breakpoint-mobile: 830px // iPad 11" width resolution
$breakpoint-header: 950px
$breakpoint-tablet: 1100px
$background: #D2D2D2
$color: black
$color-hover: black
$opacity-links: .5
$gradient-primary: $background
$gradient-secondary: #6FA58F
$gradient-quaternary: white
$hover-nav: .33s ease
$transition-icon: .33s ease
$max-width-content: 35rem
$max-width-article: 42em

body
  --spacing-sides: 2rem
  --spacing-top: 3rem
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-sides: 1rem
    --spacing-top: 2rem
