$breakpoint-mobile: 880px
$breakpoint-tablet: 1100px
$background: #D2D2D2
$color: black
$color-hover: black
$opacity-links: .5
$gradient-primary: $background
$gradient-secondary: #6FA58F
$gradient-quaternary: white
$hover-nav: .12s ease-in-out
$transition-icon: .12s ease-in-out

body
  --spacing-one: 2vmin
  --spacing-two: 4vmin
  --spacing-three: 8vmin
  --spacing-sides: 2rem
  --spacing-top: 3rem
  @media screen and ( max-width: $breakpoint-mobile)
    --spacing-one: 1rem
    --spacing-two: 1rem
    --spacing-three: 2rem
